.title {
    background-color: steelblue;
  }

.container-fluid {
    padding: 0%;
}

.well {
    margin: 10px;
}

.shiny-input-container {
    /* display: inline-block; */
}

/* .filters > div {
    display: inline;
} */

table {
    display: block;
    width: 100%;
    overflow: auto;
}

h3 {
    margin: 0%;
    padding: 20px;
    text-align: center;
}